<!doctype html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/home.js"></script>
    </head>
<body>
    <!-- <a href = "group"> My Group</a> -->
   <div id="navbar">
      <a> CS411 BayDB </a>
      <a href="#home"></a>
    </div>
    <div class="sidebar">
      <a href = "profile"> Profile</a>
      <a class= "active" href = "group"> Create/Join a Group</a>
      <a href = "login"> Log Out</a>
    </div>
 <div class = "content">
    <div class = "activities">
      <div class ="divform">
         <h1> JOIN GROUP</h1>
            <form class="join" action="/groupjoined">
              <input type="text" placeholder="Group Id" name="groupid">
              <button type="submit" formmethod="post">Join</button>
            </form>
      </div>
         <div class ="divform">
            <h1> CREATE GROUP</h1>
            <form action = "/createdGroup" method = "POST">
               <p>Group Name? <input type = "text" name = "groupname" /></p>
               <p>Group Id? <input type = "text" name = "groupid" /></p>
               <p><input type = "submit" value = "Create" /></p>
            </form>
         </div>
   <table class = "table" border = 1 cellpadding="2" cellspacing="0">
      <thead>
        <tr><th>GroupId</th><td>rrr</td></tr>
        <tr><th>Group Name</th><td>rr</td></tr>
         <tr><th>Group Members</th><td>xx </td></tr>
      </thead>
 </table>
 </div>
</div>
</body>
</html>