<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>
  <body>
    <h1>Main Page!</h1>
    <p> Wow Colorful</p>
    <button onclick="toLogin()">Go to Login</button>
    <button onclick="toSignup()">To Signup </button>
    <script>
      function toLogin(){
        window.open(window.location.href + "login", "_self");
      }
      function toSignup(){
        window.open(window.location.href + "signup", "_self");
      }
    </script>
  </body>
</html>