<html>
  <head> <meta name="viewport" content="width=device-width, initial-scale=1"> </head>
<link rel="stylesheet" href="../static/style.css">

<script src="../static/signup.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


<body>
  <div class="topnav">
    <a href = "home" >Home</a>
    <a class= "active" href = "login">Log In</a>
    <a href = "signup">Sign Up</a>
    <a href = "addtask">Add Task</a>
    <a href = "search"> Search</a>
    <a href = "completetask"> Complete Task</a>
    <a href = "deletetask"> Delete Task</a>
  </div>
  <h3>Log In</h3>
  <div class = "divform">
    <form action = "/managelogin" method = "POST">
    <p>Username <input type = "text" name = "username" required></p>
    <p>Password <input type ="text" name = "passcode" required></p>
    <p><input type = "submit" value = "submit" /></p>
    </form>
</div>
    </body>
    </html>