<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="../static/style.css">
<body>
    <h1> {{searchedTasks}} </h1>
    <h3>Search the System</h3>
    <button onclick="toHome()">Back to Home</button>
    <script>
     function toHome(){
        root_site = window.location.href = '../';
        window.open(root_site + "home","_self");
      }
      
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <form class="search" action="/search">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit" formmethod="post"><i class="fa fa-search"></i></button>
      </form>
    
</body>
</html>