<!DOCTYPE html>
<html>
  <head> <meta name="viewport" content="width=device-width, initial-scale=1"> </head>

<link rel="stylesheet" href="../static/style.css">
<script src="../static/signup.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


<body>
  <div class="topnav">
    <a href = "home" >Home</a>
    <a href = "login">Log In</a>
    <a class= "active" href = "signup">signup</a>
    <a href = "addtask">Add Task</a>
    <a href = "search"> Search</a>
    <a href = "completetask"> Complete Task</a>
    <a href = "deletetask"> Delete Task</a>
  </div>
    <h3>Sign Up</h3>
    <div class = "divform">
        <form action = "/signinfo" method = "POST">
            <p>Username <input type = "text" name = "username" /></p>
            <p>Name <input type = "text" name = "firstname" /></p>
            <p>Last Name <input type = "text" name = "lastname" /></p>
            <p>Email <input type = "text" name = "email" /></p>
            <p>Password <input type ="text" name = "passcode" id = "passcode"/></p>
            <p>Confirm Password <input type ="text" name = "confirm_passcode" id = "confirm_passcode"/></p> <span id='message'></span>
            <p><input type = "submit" value = "submit" /></p>
        </form>
    </div>
</body>
</html>
