<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../static/signup.js"></script>
  </head>


<body>
  <div class="sidebar">
    <a href = "home" >Home</a>
    <a href = "login">Log In</a>
    <a class= "active" href = "signup">Sign Up</a>
    <a href = "addtask">Add Task</a>
    <a href = "search"> Search</a>
    <a href = "completetask"> Complete Task</a>
    <a href = "deletetask"> Delete Task</a>
  </div>
  <div class = "content">
    <h3>Sign Up</h3>
    <div class = "divform">
        <form action = "/signinfo" method = "POST">
            <p>Username <input type = "text" name = "username" /></p>
            <p>Name <input type = "text" name = "firstname" /></p>
            <p>Last Name <input type = "text" name = "lastname" /></p>
            <p>Email <input type = "text" name = "email" /></p>
            <p>Password <input type ="text" name = "passcode" id = "passcode"/></p>
            <p>Confirm Password <input type ="text" name = "confirm_passcode" id = "confirm_passcode"/></p> <span id='message'></span>
            <p><input type = "submit" value = "submit" /></p>
        </form>
    </div>
  </div>
</body>
</html>
