<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="../static/style.css">
      <link rel="stylesheet" href="../static/style.css">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Abel&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <script src="../static/signup.js"></script>
      <script src="../static/home.js"></script>
   </head>
   <body>
      <div id="navbar">
         <a> CS411 BayDB </a>
         <a href="#home"></a>
       </div>
      <div class="sidebar">
         <a href="home">Home</a>
         <a href = "profile"> Profile</a>
         <a href = "group"> My Group</a>
         <a class= "active" href = "addtask">Add Task</a>
         <a href = "search"> Search Tasks</a>
         <a href = "updatetask"> Change a Task</a>
         <a href = "completetask"> Complete Task</a>
         <a href = "deletetask"> Delete Task</a>
         <a href = "login"> Log Out</a>
      </div>
      <div class = "content">
         <div class = "activities">
          <h1>Add a New Task</h1>
            <div class ="divform">
               <form action = "/addtask" method = "POST">
                  <p>Task Name <input type = "text" name = "taskname" /></p>
                  <p>Assigned to <input type = "text" name = "assignedto" /></p>
                  <p> Recurring?
                  <select class="form-control form-control-lg" name = "repeat">
                     <option name = "norepeat"> No</option>
                     <option name = "daily">Daily</option>
                     <option name = "weekly">Weekly (Sunday)</option>
                     <option name = "biweekly">Biweekly</option>
                  </select> </p>
                  <p> Extra Notes: </p> <textarea name="usernotes" rows="10" cols="40"> </textarea> 
                  <div class="form-check">
                     <input type="checkbox" class="form-check-input" name="CDCoption">
                     <label class="form-check-label" for="CDCyes">Add potential CDC subtasks and materials?</label>
                   </div>
                  <p><input type = "submit" value = "submit"/></p>
               </form>
            {% if exists == 'false' %}
            <p1>A task ' {{ taskname }} ' has been created!</p1>
            {% else %}
            <p1>Task already exists! Enter a new task.</p1>
            {% endif %}
          </div>
         </div>
         <div class = "taskscontainer">
            <h1> Tasks List </h1>
            <table id="tblSearch" class="table" cellpadding="2" cellspacing="0">
              <thead>
                <tr>
                  <th scope="col">Taskname</th>
                  <th scope="col">Status</th>
                  <th scope="col">Created Date</th>
                  <th scope="col">Created Time</th>
                  <th scope="col">Assigned to:</th>
                  <th scope="col">Completed Date</th>
                  <th scope="col">Completed Time</th>
                  <th scope="col">Done by:</th>
                </tr>
              </thead>
                {% for task in tasks %}
                {% if task[4] == 'incomplete' %}
                <tr style="color: rgb(165, 40, 40)">
                {% else %}
                  <tr style="color: rgb(31, 110, 31)">
                {% endif %}
                <th scope="row">{{task[1]}}</th>
                <td>{{task[4]}}</td> 
                <td>{{task[3]}}</td>
                <td>{{task[2]}}</td>
                <td>{{task[5]}}</td>
                <td>{{task[6]}}</td>
                <td>{{task[7]}}</td>
                <td>{{task[8]}}</td>
                </tr>
                {% endfor %}
              </table>
         </div>
      </div>
   </body>
</html>
